body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.titre h1 {
    margin: 0;
    padding: 0 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.menu li {
    margin: 0 15px; /* Ajustez les marges selon vos besoins */
    padding: 10px; /* Ajustez le padding selon vos besoins */
    cursor: pointer;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.menu a:hover {
    background-color: #575757;
    border-radius: 5px;
}

#map {
    width: 100%;
    height: calc(100vh - 60px); /* Adjust this value based on the height of your header */
    margin-top: 10px; /* Optional, for some spacing */
}

#lightbox {
    display: none; /* Masqué par défaut */
    position: fixed;
    top: 60px;
    right: 0;
    width: 500px;
    height: calc(100% - 60px);
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    z-index: 1000;
    overflow-y: auto;
}

#lightbox-content {
    padding: 20px;
}

#lightbox h2 {
    margin-top: 0;
}


#reservation-form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="datetime-local"],
input[type="number"],
input[type="text"],
input[type="tel"],
 button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 14px;
}

 button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

 button:hover {
    background-color: #0056b3;
}


#menu-container {
    margin: 20px auto; /* Marge de 20px en haut et en bas, centré horizontalement */
    padding: 20px; /* Espacement intérieur */
    background-color: #fffaf0; /* Couleur de fond beige */
    border: 1px solid #e0dcd7; /* Bordure légère */
    border-radius: 5px; /* Coins arrondis */
    width: 80%; /* Largeur maximale du conteneur */
    max-width: 800px; /* Largeur maximale pour une meilleure lisibilité sur de grands écrans */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

/* Style pour chaque catégorie de plat */
.category {
    margin-bottom: 20px; /* Espacement entre les catégories */
    text-align: left; /* Alignement du texte à gauche à l'intérieur des catégories */
    padding: 10px; /* Espacement intérieur */
    background-color: #ffffff; /* Couleur de fond blanche */
    border: 1px solid #e0dcd7; /* Bordure légère */
    border-radius: 5px; /* Coins arrondis */
}

.category h2 {
    font-size: 1.5rem; /* Taille de police des titres */
    color: #333; /* Couleur du texte */
    margin-bottom: 10px; /* Espacement en bas des titres */
    text-align: center; /* Centrage du contenu */
}

.category ul {
    list-style-type: none; /* Suppression des puces de liste */
    padding: 0; /* Suppression du padding par défaut */
}

.category ul li {
    margin-bottom: 8px; /* Espacement entre les éléments de liste */
    font-size: 1.1rem; /* Taille de police des éléments de liste */
    color: #666; /* Couleur du texte */
}

.category ul li span {
    color: #888; /* Couleur du texte du prix */
    margin-left: 10px; /* Espacement à gauche du prix */
}

/*-------------Bouton close-------------*/
.close {
    color: Black;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

meteo {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white; /* Couleur de fond blanche pour le conteneur */
    padding: 10px; /* Ajustez le padding selon vos besoins */
    display: flex;
    align-items: center;
}

#Github {
    border: 1px solid white;
    border-radius: 5px;
}